.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(48, 5, 59);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #c09cc7;
}

.header-row {
    background: #280352;
    color: rgb(197, 139, 197)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}